header {
  position: fixed;
  z-index: 2000;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

header>.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

header .logo {
  position: relative;
  z-index: 2
}

header .logo h1 {
  color: hsl(var(--bg-color-reverse));
  font-family: var(--logo-font-family);
  font-size: 2rem;
  margin: 0
}

html[dir=ltr] header .logo h1 {
  font-weight: 400
}

header .logo h1:after {
  content: "";
  display: inline-block;
  height: .17em;
  width: .2em;
  background-color: hsl(var(--main-color-one))
}

html[dir=ltr] header .logo h1:after {
  margin-left: .08em
}

html[dir=rtl] header .logo h1:after {
  margin-right: .08em
}

header .logo h1:focus-within {
  outline: 0
}

.enable-focus-style header .logo h1:focus-within {
  -webkit-box-shadow: 0 0 0 3px hsla(var(--main-color-two), 70%);
  box-shadow: 0 0 0 3px hsla(var(--main-color-two), 70%)
}

@media (min-width:992px) {
  header nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
}

@media (max-width:991px) {
  header nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 100px 40px;
    overflow-y: auto
  }
}

@media (min-width:992px) {
  html[dir=ltr] header nav .nav-links li:not(:last-of-type) {
    margin-right: 1.6rem
  }

  html[dir=rtl] header nav .nav-links li:not(:last-of-type) {
    margin-left: 1.6rem
  }
}

@media (max-width:991px) {
  header nav .nav-links li {
    width: 100%;
    overflow: hidden
  }

  header nav .nav-links li:not(:last-of-type) {
    margin-bottom: .8rem
  }
}

header nav .nav-links li a {
  color: hsl(var(--t-color-one));
  font-family: var(--headings-font-family);
  font-weight: 700;
  padding: .4rem .2rem
}

header nav .nav-links li a {
  position: relative
}

header nav .nav-links li a:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: .15rem;
  width: 0;
  background-color: hsl(var(--main-color-one));
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

html[dir=ltr] header nav .nav-links li a:before {
  left: 0
}

html[dir=rtl] header nav .nav-links li a:before {
  right: 0
}

header nav .nav-links li a:hover:before {
  width: 100%
}

@media (min-width:992px) {
  header nav .nav-links li a {
    font-size: 1rem
  }
}

@media (max-width:991px) {
  header nav .nav-links li a {
    display: inline-block;
    font-size: 2rem;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-timing-function: cubic-bezier(.68, -.55, .27, 2);
    transition-timing-function: cubic-bezier(.68, -.55, .27, 2)
  }
}

header nav .nav-links li a:after {
  content: "";
  display: inline-block;
  height: .2em;
  width: .2em;
  background-color: hsl(var(--t-color-one));
  border-radius: 50%
}

html[dir=ltr] header nav .nav-links li a:after {
  margin-left: .1em
}

html[dir=rtl] header nav .nav-links li a:after {
  margin-right: .1em
}

header nav .nav-links li a:focus {
  outline: 0
}

.enable-focus-style header nav .nav-links li a:focus {
  -webkit-box-shadow: 0 0 0 3px hsla(var(--main-color-two), 70%);
  box-shadow: 0 0 0 3px hsla(var(--main-color-two), 70%)
}

header nav:before {
  content: "";
  position: fixed;
  z-index: 1;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: hsl(var(--bg-color-two))
}

header nav .desktop-menu-content {
  position: fixed;
  z-index: 2;
  left: 0;
  height: 100vh;
  width: 100vw;
  outline: 0
}

@media (max-width:991px) {
  header nav .desktop-menu-content {
    display: none
  }
}

header nav .desktop-menu-content .container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  padding-top: 80px
}

header nav .desktop-menu-content .container>* {
  width: 100%
}

header nav .desktop-menu-content .about-us p {
  color: hsl(var(--t-color-one))
}

html[dir=ltr] header nav .desktop-menu-content .about-us p {
  font-size: 1rem
}

html[dir=rtl] header nav .desktop-menu-content .about-us p {
  font-size: 1.1rem
}

header nav .desktop-menu-content .about-us .block-title {
  font-size: 2.8rem;
  line-height: 4rem
}

header nav .desktop-menu-content .contact-info li .block-title {
  position: relative;
  display: inline-block;
  overflow: hidden
}

header nav .desktop-menu-content .contact-info li .block-title:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(var(--main-color-one))
}

header nav .desktop-menu-content .contact-info a {
  position: relative
}

header nav .desktop-menu-content .contact-info a:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: .1rem;
  width: 0;
  background-color: hsl(var(--main-color-one));
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

html[dir=ltr] header nav .desktop-menu-content .contact-info a:before {
  left: 0
}

html[dir=rtl] header nav .desktop-menu-content .contact-info a:before {
  right: 0
}

header nav .desktop-menu-content .contact-info a:hover:before {
  width: 100%
}

header nav .desktop-menu-content .contact-info a:focus {
  outline: 0
}

.enable-focus-style header nav .desktop-menu-content .contact-info a:focus {
  -webkit-box-shadow: 0 0 0 3px hsla(var(--main-color-two), 70%);
  box-shadow: 0 0 0 3px hsla(var(--main-color-two), 70%)
}

@media (min-width:992px) {

  header nav:not(.menu-open) .desktop-menu-content,
  header nav:not(.menu-open):before {
    -webkit-transition: all 1s cubic-bezier(.858, .01, .068, .99) .6s;
    transition: all 1s cubic-bezier(.858, .01, .068, .99) .6s;
    top: 100vh
  }
}

@media (max-width:991px) {

  header nav:not(.menu-open) .desktop-menu-content,
  header nav:not(.menu-open) .nav-links,
  header nav:not(.menu-open):before {
    -webkit-transition: all 1s cubic-bezier(.858, .01, .068, .99) .4s;
    transition: all 1s cubic-bezier(.858, .01, .068, .99) .4s;
    top: 100vh
  }

  header nav:not(.menu-open) .nav-links li a {
    -webkit-transform: translateY(50px);
    transform: translateY(50px)
  }
}

header nav:not(.menu-open) .desktop-menu-content>* {
  visibility: hidden
}

header nav:not(.menu-open) .desktop-menu-content .about-us p {
  -webkit-transition: all .2s ease-in-out .4s;
  transition: all .2s ease-in-out .4s;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 0
}

header nav:not(.menu-open) .desktop-menu-content .about-us .block-title {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 0
}

header nav:not(.menu-open) .desktop-menu-content .contact-info .block-title {
  -webkit-transition: color 0s linear .2s;
  transition: color 0s linear .2s;
  color: transparent
}

header nav:not(.menu-open) .desktop-menu-content .contact-info .block-title:after {
  -webkit-transition: .4s linear;
  transition: .4s linear
}

html[dir=ltr] header nav:not(.menu-open) .desktop-menu-content .contact-info .block-title:after {
  -webkit-transition-property: left;
  transition-property: left;
  left: -100%
}

html[dir=rtl] header nav:not(.menu-open) .desktop-menu-content .contact-info .block-title:after {
  -webkit-transition-property: right;
  transition-property: right;
  right: -100%
}

header nav:not(.menu-open) .desktop-menu-content .contact-info ul {
  -webkit-transition: all .2s ease-in-out .4s;
  transition: all .2s ease-in-out .4s;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  opacity: 0
}

header nav.menu-open .desktop-menu-content,
header nav.menu-open:before {
  -webkit-transition: all 1s cubic-bezier(.858, .01, .068, .99);
  transition: all 1s cubic-bezier(.858, .01, .068, .99);
  top: 0
}

@media (min-width:992px) {

  header nav.menu-open .nav-links,
  header nav.menu-open~.options-icons .lang-switcher {
    visibility: hidden
  }

  header nav.menu-open~.options-icons .lang-switcher {
    z-index: 0;
    opacity: 0
  }
}

@media (max-width:991px) {
  header nav.menu-open .nav-links {
    -webkit-transition: all 1s cubic-bezier(.858, .01, .068, .99);
    transition: all 1s cubic-bezier(.858, .01, .068, .99);
    top: 0
  }

  header nav.menu-open .nav-links li a {
    -webkit-transition-delay: .8s;
    transition-delay: .8s;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

header nav.menu-open .desktop-menu-content>* {
  visibility: visible
}

header nav.menu-open .desktop-menu-content .about-us p {
  -webkit-transition: all .2s ease-in-out 1s;
  transition: all .2s ease-in-out 1s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}

header nav.menu-open .desktop-menu-content .about-us .block-title {
  -webkit-transition: all .4s ease-in-out 1.2s;
  transition: all .4s ease-in-out 1.2s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}

header nav.menu-open .desktop-menu-content .contact-info .block-title {
  -webkit-transition: color 0s linear 1.2s;
  transition: color 0s linear 1.2s
}

header nav.menu-open .desktop-menu-content .contact-info .block-title:after {
  -webkit-transition: .4s linear 1s;
  transition: .4s linear 1s
}

html[dir=ltr] header nav.menu-open .desktop-menu-content .contact-info .block-title:after {
  left: 100%;
  -webkit-transition-property: left;
  transition-property: left
}

html[dir=rtl] header nav.menu-open .desktop-menu-content .contact-info .block-title:after {
  right: 100%;
  -webkit-transition-property: right;
  transition-property: right
}

header nav.menu-open .desktop-menu-content .contact-info ul {
  -webkit-transition: all .2s ease-in-out 1.4s;
  transition: all .2s ease-in-out 1.4s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}

header .options-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

html[dir=ltr] header .options-icons>li:not(:last-of-type) {
  margin-right: 1rem
}

html[dir=rtl] header .options-icons>li:not(:last-of-type) {
  margin-left: 1rem
}

header .options-icons .lang-switcher {
  -webkit-transition: opacity 1s cubic-bezier(.858, .01, .068, .99);
  transition: opacity 1s cubic-bezier(.858, .01, .068, .99)
}

header .options-icons .lang-switcher .lang-switcher-menu {
  position: relative
}

@media (min-width:992px) {
  header .options-icons .lang-switcher .lang-switcher-menu {
    z-index: 1
  }
}

@media (max-width:991px) {
  header .options-icons .lang-switcher .lang-switcher-menu {
    z-index: 0
  }
}

header .options-icons .lang-switcher .lang-switcher-menu .menu-item-has-children>a:after {
  content: "\f107";
  font-family: FontAwesome
}

html[dir=ltr] header .options-icons .lang-switcher .lang-switcher-menu .menu-item-has-children>a:after {
  margin-left: 8px
}

html[dir=rtl] header .options-icons .lang-switcher .lang-switcher-menu .menu-item-has-children>a:after {
  margin-right: 8px
}

header .options-icons .lang-switcher .lang-switcher-menu .menu-item-has-children>a:focus {
  outline: 0
}

.enable-focus-style header .options-icons .lang-switcher .lang-switcher-menu .menu-item-has-children>a:focus {
  -webkit-box-shadow: 0 0 0 3px hsla(var(--main-color-two), 70%);
  box-shadow: 0 0 0 3px hsla(var(--main-color-two), 70%)
}

header .options-icons .lang-switcher .lang-switcher-menu .sub-menu {
  background-color: hsl(var(--bg-color-two));
  z-index: -1
}

@media (min-width:992px) {
  header .options-icons .lang-switcher .lang-switcher-menu .sub-menu {
    position: absolute;
    top: calc(100% + 7px);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    padding: 6px 0;
    border-radius: .63rem;
    -webkit-filter: drop-shadow(0 2px 6px rgba(0, 0, 0, .3));
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, .3));
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0
  }

  html[dir=ltr] header .options-icons .lang-switcher .lang-switcher-menu .sub-menu {
    left: 50%;
    -webkit-transform: translate(-50%, 20px);
    transform: translate(-50%, 20px)
  }

  html[dir=rtl] header .options-icons .lang-switcher .lang-switcher-menu .sub-menu {
    right: 50%;
    -webkit-transform: translate(50%, 20px);
    transform: translate(50%, 20px)
  }

  header .options-icons .lang-switcher .lang-switcher-menu .sub-menu:after,
  header .options-icons .lang-switcher .lang-switcher-menu .sub-menu:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1
  }

  html[dir=ltr] header .options-icons .lang-switcher .lang-switcher-menu .sub-menu:after,
  html[dir=ltr] header .options-icons .lang-switcher .lang-switcher-menu .sub-menu:before {
    left: 50%
  }

  html[dir=rtl] header .options-icons .lang-switcher .lang-switcher-menu .sub-menu:after,
  html[dir=rtl] header .options-icons .lang-switcher .lang-switcher-menu .sub-menu:before {
    right: 50%
  }

  header .options-icons .lang-switcher .lang-switcher-menu .sub-menu:before {
    top: -25px;
    height: 35px;
    width: 100%
  }

  html[dir=ltr] header .options-icons .lang-switcher .lang-switcher-menu .sub-menu:before {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  html[dir=rtl] header .options-icons .lang-switcher .lang-switcher-menu .sub-menu:before {
    -webkit-transform: translateX(50%);
    transform: translateX(50%)
  }

  header .options-icons .lang-switcher .lang-switcher-menu .sub-menu:after {
    top: -5px;
    height: 6px;
    width: 12px;
    background-color: inherit;
    -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
    clip-path: polygon(50% 0, 0 100%, 100% 100%)
  }

  html[dir=ltr] header .options-icons .lang-switcher .lang-switcher-menu .sub-menu:after {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  html[dir=rtl] header .options-icons .lang-switcher .lang-switcher-menu .sub-menu:after {
    -webkit-transform: translateX(50%);
    transform: translateX(50%)
  }
}

@media (max-width:991px) {
  header .options-icons .lang-switcher .lang-switcher-menu .sub-menu {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 2px solid hsl(var(--main-color-one));
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0
  }

  html[dir=ltr] header .options-icons .lang-switcher .lang-switcher-menu .sub-menu {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px)
  }

  html[dir=rtl] header .options-icons .lang-switcher .lang-switcher-menu .sub-menu {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px)
  }
}

@media (min-width:992px) {
  header .options-icons .lang-switcher .lang-switcher-menu .sub-menu .menu-item:first-of-type:not(:only-of-type) {
    border-radius: .63rem .63rem 0 0
  }

  header .options-icons .lang-switcher .lang-switcher-menu .sub-menu .menu-item:last-of-type:not(:only-of-type) {
    border-radius: 0 0 .63rem .63rem
  }

  header .options-icons .lang-switcher .lang-switcher-menu .sub-menu .menu-item:only-of-type {
    border-radius: .63rem
  }
}

@media (max-width:991px) {
  header .options-icons .lang-switcher .lang-switcher-menu .sub-menu .menu-item:not(:last-of-type) {
    border-bottom: 1px solid hsl(var(--bg-color-one))
  }
}

header .options-icons .lang-switcher .lang-switcher-menu .sub-menu .menu-item a {
  display: block;
  font-weight: 700;
  padding: 0 14px
}

@media (min-width:992px) {
  header .options-icons .lang-switcher .lang-switcher-menu .sub-menu .menu-item a {
    height: 30px;
    line-height: 30px;
    white-space: nowrap
  }
}

@media (max-width:991px) {
  header .options-icons .lang-switcher .lang-switcher-menu .sub-menu .menu-item a {
    height: 40px;
    line-height: 40px
  }
}

header .options-icons .lang-switcher .lang-switcher-menu .sub-menu .menu-item a:hover {
  color: hsl(var(--main-color-one))
}

header .options-icons .lang-switcher .lang-switcher-menu .sub-menu .menu-item:focus-within {
  outline: 0
}

.enable-focus-style header .options-icons .lang-switcher .lang-switcher-menu .sub-menu .menu-item:focus-within {
  -webkit-box-shadow: 0 0 0 3px hsla(var(--main-color-two), 70%);
  box-shadow: 0 0 0 3px hsla(var(--main-color-two), 70%)
}

@media (min-width:992px) {

  header .options-icons .lang-switcher:focus-within .lang-switcher-menu .sub-menu,
  header .options-icons .lang-switcher:hover .lang-switcher-menu .sub-menu {
    visibility: visible;
    opacity: 1
  }

  html[dir=ltr] header .options-icons .lang-switcher:focus-within .lang-switcher-menu .sub-menu,
  html[dir=ltr] header .options-icons .lang-switcher:hover .lang-switcher-menu .sub-menu {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
  }

  html[dir=rtl] header .options-icons .lang-switcher:focus-within .lang-switcher-menu .sub-menu,
  html[dir=rtl] header .options-icons .lang-switcher:hover .lang-switcher-menu .sub-menu {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0)
  }
}

@media (max-width:991px) {

  header .options-icons .lang-switcher:focus-within .lang-switcher-menu .sub-menu,
  header .options-icons .lang-switcher:hover .lang-switcher-menu .sub-menu {
    visibility: visible;
    opacity: 1
  }

  html[dir=ltr] header .options-icons .lang-switcher:focus-within .lang-switcher-menu .sub-menu,
  html[dir=ltr] header .options-icons .lang-switcher:hover .lang-switcher-menu .sub-menu {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }

  html[dir=rtl] header .options-icons .lang-switcher:focus-within .lang-switcher-menu .sub-menu,
  html[dir=rtl] header .options-icons .lang-switcher:hover .lang-switcher-menu .sub-menu {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }
}

header .options-icons .theme-switcher button {
  position: relative;
  height: 28px;
  width: 48px;
  border-radius: 15px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

header .options-icons .theme-switcher button:after {
  content: "";
  position: absolute;
  top: 3px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out
}

header .options-icons .theme-switcher button.light_theme:after {
  left: 23px;
  -webkit-box-shadow: 22px -20px #f9d71c inset;
  box-shadow: 22px -20px #f9d71c inset
}

header .options-icons .theme-switcher button.dark_theme:after {
  left: 3px;
  -webkit-box-shadow: 9px -7px #fff inset;
  box-shadow: 9px -7px #fff inset
}

header .options-icons .theme-switcher button:focus {
  outline: 0
}

.enable-focus-style header .options-icons .theme-switcher button:focus {
  -webkit-box-shadow: 0 0 0 3px hsla(var(--main-color-two), 70%);
  box-shadow: 0 0 0 3px hsla(var(--main-color-two), 70%)
}

@media (min-width:992px) {
  .hamburger-btn {
    visibility: hidden
  }
}

header .options-icons .hamburger-btn {
  position: relative;
  z-index: 2
}

header .options-icons .hamburger-btn button {
  position: relative;
  height: 20px;
  width: 16px;
  margin-bottom: 4px
}

header .options-icons .hamburger-btn span {
  display: block;
  position: absolute;
  width: 2px;
  background-color: hsl(var(--bg-color-reverse));
  border-radius: 5px;
  -webkit-transition: all .5s cubic-bezier(.77, .2, .05, 1);
  transition: all .5s cubic-bezier(.77, .2, .05, 1)
}

header .options-icons .hamburger-btn span:nth-of-type(1) {
  bottom: 50%;
  height: 50%;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center
}

html[dir=ltr] header .options-icons .hamburger-btn span:nth-of-type(1) {
  left: 0
}

html[dir=rtl] header .options-icons .hamburger-btn span:nth-of-type(1) {
  right: 0
}

header .options-icons .hamburger-btn span:nth-of-type(2) {
  top: 0;
  height: 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%
}

html[dir=ltr] header .options-icons .hamburger-btn span:nth-of-type(2) {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

html[dir=rtl] header .options-icons .hamburger-btn span:nth-of-type(2) {
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%)
}

header .options-icons .hamburger-btn span:nth-of-type(3) {
  top: 50%;
  height: 50%;
  -webkit-transform-origin: top center;
  transform-origin: top center
}

html[dir=ltr] header .options-icons .hamburger-btn span:nth-of-type(3) {
  right: 0
}

html[dir=rtl] header .options-icons .hamburger-btn span:nth-of-type(3) {
  left: 0
}

html[dir=ltr] header .options-icons .hamburger-btn:not(.open) button {
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg)
}

html[dir=rtl] header .options-icons .hamburger-btn:not(.open) button {
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg)
}

html[dir=ltr] header .options-icons .hamburger-btn.open button {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

html[dir=rtl] header .options-icons .hamburger-btn.open button {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

html[dir=ltr] header .options-icons .hamburger-btn.open span:nth-of-type(1) {
  -webkit-transform: rotate(90deg) translateY(3px);
  transform: rotate(90deg) translateY(3px)
}

html[dir=rtl] header .options-icons .hamburger-btn.open span:nth-of-type(1) {
  -webkit-transform: rotate(-90deg) translateY(3px);
  transform: rotate(-90deg) translateY(3px)
}

html[dir=ltr] header .options-icons .hamburger-btn.open span:nth-of-type(3) {
  -webkit-transform: rotate(90deg) translateY(-3px);
  transform: rotate(90deg) translateY(-3px)
}

html[dir=rtl] header .options-icons .hamburger-btn.open span:nth-of-type(3) {
  -webkit-transform: rotate(-90deg) translateY(-3px);
  transform: rotate(-90deg) translateY(-3px)
}

header .options-icons .hamburger-btn span {
  -webkit-transition: all 1s cubic-bezier(.858, .01, .068, .99);
  transition: all 1s cubic-bezier(.858, .01, .068, .99)
}

header .options-icons .hamburger-btn:focus-within {
  outline: 0
}

.enable-focus-style header .options-icons .hamburger-btn:focus-within {
  -webkit-box-shadow: 0 0 0 3px hsla(var(--main-color-two), 70%);
  box-shadow: 0 0 0 3px hsla(var(--main-color-two), 70%)
}

@media (min-width:992px) {
  header.big-header .theme-switcher button {
    background-color: hsl(var(--bg-color-two))
  }

  header.small-header {
    background-color: hsl(var(--bg-color-two));
    -webkit-box-shadow: var(--card-shadow);
    box-shadow: var(--card-shadow)
  }

  header.small-header .container {
    height: 60px
  }

  header.small-header .theme-switcher button {
    background-color: hsl(var(--bg-color-one))
  }
}

@media (max-width:991px) {
  header {
    background-color: hsl(var(--bg-color-two));
    -webkit-box-shadow: var(--card-shadow);
    box-shadow: var(--card-shadow)
  }

  header .container {
    height: 60px
  }

  header .theme-switcher button {
    background-color: hsl(var(--bg-color-one))
  }
}

header:not(.header-hidden) {
  top: 0
}

@media (min-width:992px) {
  header.header-hidden.big-header {
    top: -100px
  }

  header.header-hidden.small-header {
    top: -60px
  }
}

@media (max-width:991px) {
  header.header-hidden {
    top: -60px
  }
}

